---
import BotonEliminar from "./BotonEliminar.jsx";
import BotonEntrar from "./BotonEntrar.jsx";
const { evento, videos } = Astro.props;
---

<div
  class="w-1/3 flex-shrink h-[175px] cursor-pointer border-2 border-transparent bg-paleta1-white/80 backdrop-blur-sm hover:border-paleta1-primary hover:shadow-lg hover:-translate-y-0.5 hover:skew-x-1 duration-700 rounded text-gray-700 overflow-hidden p-2 flex flex-col items-center justify-center relative"
>
<div class=" flex items-start justify-  gap-2 hover:gap-10 bg-paleta1-primary py-4 px-3 group  hover:justify-evenly hover:bg-paleta1-primary/80 backdrop-blur-sm duration-500  rounded-bl-full absolute right-0 top-0 before:content-[' '] before:absolute before:right-0 before:top-0 before:w-3 before:h-3 before:bg-paleta1-primary/80 before:backdrop-blur-sm before:rounded-full before:scale-100 before:hover:scale-[21] before:duration-500 before: ">

  <BotonEliminar id={evento.uid} client:load />
  <BotonEntrar uid={evento.uid}  client:load/>
</div>
  <h2 class="text-lg font-semibold capitalize rounded-lg z-">
    {evento.name}
  </h2>
  <div class="flex items-center justify-around gap-5">
    {
      !videos?.length || !videos ? (
      <p class="text-xs capitalize my-5">no tienes videos en este evento</p>
      ) : (
        <p class="text-xs capitalize my-5">
          Tienes ${videos.length} en este evento
        </p>

        )
      }
      <img src={`/upload/${evento.name}/portada.jpg`} alt="portada" height="50"width={"50"}>
  </div>
</div>
