---
import BotonEliminar from "./BotonEliminar.jsx";
const { evento } = Astro.props;
---

<div
  class="w-[300px] flex-shrink h-[300px] duration-300 rounded-lg text-gray-700 overflow-hidden p-2 bg-white backdrop-blur-sm flex flex-col items-center justify-normal relative"
>
<BotonEliminar id={evento.uid} client:load/>
  <h2
    class="absolute top-5   bg-paleta1-primary py-2 px-3 rounded-lg z-20"
  >
    {evento.name}
  </h2>
  <a target="_blank" class="w-full h-full" href={`/upload/${evento.id}.mp4`}>
    <img
      id={evento.uid}
      src={`/upload/${evento.name}/portada.jpg`}
      class="w-full h-full duration-500 object-cover rounded-lg"/>
</a>

  </div>
