---

import MainDasboard from '../../components/MainDasboard.astro';
import Layout from '../../layouts/Layout.astro'

const {uidCredencial}=Astro.params
const fetichingCredencial=await fetch(`http://localhost:4321/api/credencial/${uidCredencial}`)
const data = await fetichingCredencial.json();
const credencial = await data?.credencial;
const videos=[]
const eventos=[]

---


<Layout title={`Credencial ${credencial.nombreApellido}`}>
<MainDasboard>
    <form
  
    class="flex flex-col items-center text-gray-700"
  >
    <div class=" border flex flex-col gap-3 items-center justify-between bg-white rounded-lg p-5 w-full my-5 text-sm">

      <label
        for="nombreApellido"
        class=" border flex items-center justify-between bg-white rounded-lg p-5 w-full gap-2 text-sm"
      >
        <p>Nombre y Apellido</p>
        <input
          type="text"
          id="nombreApellido"
          name="nombreApellido"
          required
          class="rounded-lg ring-0 border p-2"
        />
      </label>
      <label
        for="dni"
        class=" border flex items-center justify-between bg-white rounded-lg p-5 w-full gap-2 text-sm"
      >
        <p>DNI</p>
        <input
          type="number"
          id="dni"
          name="dni"
          required
          class="rounded-lg ring-0 border p-2"
        />
      </label>
      <label
        for="celular"
        class=" border flex items-center justify-between bg-white rounded-lg p-5 w-full gap-2 text-sm"
      >
        <p>Celular</p>
        <input
          type="tel"
          id="celular"
          name="celular"
          required
          class="rounded-lg ring-0 border p-2"
        />
      </label>
      <label
        for="email"
        class=" border flex items-center justify-between bg-white rounded-lg p-5 w-full gap-2 text-sm"
      >
        <p>email</p>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="rounded-lg ring-0 border p-2"
        />
      </label>
      <label
        for="cantInvitados"
        class=" border flex items-center justify-between bg-white rounded-lg p-5 w-full gap-2 text-sm"
      >
        <p>Cantidad de Invitados</p>
        <input
          type="number"
          id="cantInvitados"
          name="cantInvitados"
          required
          class="rounded-lg ring-0 border p-2"
        />
      </label>
    </div>


    {/* contenedores de eventos y videos  */}


    <div class=" border flex flex-col gap-3 items-center justify-between bg-white rounded-lg p-5 w-full my-5 text-sm">
      {/* selector de eventos */}
      <select
        name="eventoUID"
        id="eventos"
        required
        class="p-2 text-xs rounded-lg my-3 ring-0 border "
      >
        <option
          value="noSelect"
          disabled
          selected
          class="text-sx p-2 rounded-lg font-medium text-gray-400"

        >
          Relacionar un Evento
        </option>
        {eventos?.map((event) => (
          <option value={event.uid}>{event.name}</option>
        ))}
      </select>
      {/* selector de videos segun evento correspondiente */}
      <select
        name="eventoUID"
        id="eventos"
        required
        class="p-2 text-xs rounded-lg my-3 ring-0 border"
      >
        <option
          value="noSelect"
          disabled
          selected
          class="text-sx p-2 rounded-lg font-medium text-gray-400"
        >
          Relacionar un Video
        </option>
        {videos?.map((video) => (
          <option value={video.id}>{video.name}</option>
        ))}
      </select>
    </div>

    {credencial?.QRCode && (
      <div class="p-2 my-5 space-y-4 flex flex-col items-center">
        <p class="text-xs font-medium">
          Toca la imagen para descargar y usarla como quieras
        </p>
        <a
          class=" mx-auto cursor-pointer"
          href={credencial?.QRCode}
          download={credencial.name}
        >
          {" "}
          <img alt="qrCode" src={credencial?.QRCode} width={100} height={100} />
        </a>
      </div>
    )}
  
  </form>
</MainDasboard>
</Layout>
