---
const { credencial } = Astro.props;

const uidCredencial = credencial.uid;


---

<tr
  id={uidCredencial}
  class="odd:bg-neutral-300/50 cursor-pointer hover:bg-zinc-400 hover:text-gray-50 duration-200"
>
  <td class="whitespace-nowrap px-4 py-2 font-medium text-primary-text">
    {credencial.nombreApellido}
  </td>
 
  <td class="whitespace-nowrap px-4 py-2 text-primary-text">
    {credencial.invitados}
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-primary-text">
    {credencial.evento}
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-primary-text">
    {credencial.video}
  </td>
  <td class="whitespace-nowrap text-primary-text">
    <p
      class={credencial.activo == true
        ? " bg-green-300/50 shadow-sm w-10/12  shadow-green-300 text-green-600 rounded-lg text-[10px] mx-auto text-center"
        : " bg-red-300/50 shadow-sm w-10/12  shadow-red-300 text-red-600 rounded-lg text-xs mx-auto text-[10px] text-center"}
    >
      {credencial.activo == true ? "activo" : "inactivo"}
    </p>
  </td>
  <td class="whitespace-nowrap px-4 py-2 text-primary-text flex flex-col items-center text-center text-[10px] gap-y-1 uppercase">
    <buton class="text-red-500">❌eliminar</buton>
    <buton class="text-yellow-500">✖️suspender</buton>
  </td>
</tr>

<script define:vars={{ uidCredencial }}>
  const boton = document.getElementById(uidCredencial);
  boton.addEventListener("click", () => {
    window.location.href = `/credenciales/${uidCredencial}`;
  });
</script>
