---
import MainDasboard from "../../../components/MainDasboard.astro";
import Layout from "../../../layouts/Layout.astro";
import BotonModificarPortada from "../components/BotonModificarPortada";
const { uid } = Astro.params;
import CardVideos from "../components/CardVideos.astro";
import LimpiarAsistencia from "../components/LimpiarAsistencia";
import StatCredenciales from "../components/StatCredenciales.astro";
import StatDanger from "../components/StatDanger.jsx";
import StatVideos from "../components/StatVideos.astro";
const objectEvento = await fetch(`http://localhost:4321/api/${uid}`);
const data = await objectEvento.json();
const evento = data.files;
const acreditaciones = data.acreditaciones;
---

<Layout title={evento?.nombre}>
  <MainDasboard>
    <div
      class="flex flex-col w-11/12 items- justify-between md:flex-row gap-3 md:gap-5"
    >
      <div class="flex items-center justify-start md:w-1/3 w-full gap-10">
        <a
          id="volver"
          class="text-2xl cursor-pointer rounded-full bg-paleta1-primary/80 px-2 h-10 flex items-center justify-center border border-gray-700/50 hover:-translate-x-1 duration-300 hover:scale-105 active:scale-90 shadow-lg text-gray-700"
          >←</a
        >
        <h1 class="text-xl font-thin capitalize text-gray-700 md:my-10">
          {evento?.nombre}
        </h1>
      </div>
      <div
        class="md:w-1/2 w-full flex-grow flex md:flex-nowrap flex-wrap h- items-stretch justify-between gap-3 md:gap-5"
      >
        <StatDanger uidEvento={uid} client:load />
        <!-- stat de videos -->
        <StatVideos evento={evento} />
        <!-- stat de credenciales -->
        <StatCredenciales evento={evento} acreditaciones={acreditaciones} />
        <a href={`http://localhost:4321/eventos/${uid}/editorInvitacion/`}>
          invitacion
        </a>
      </div>
    </div>
    <div class="w-10/12 flex flex-col items-stretch justify-normal">
      <slot />
    </div>
  </MainDasboard>
</Layout>

<script>
  const btnBack = document.getElementById("volver");
  btnBack.addEventListener("click", () => {
    history.back();
  });
</script>
