---

const {evento}=Astro.props
const url = Astro.url;
const name = url.pathname.split("/");
console.log(name[3]);

const isPath = name[3] == "videos";
---

<div id={`videosEventosDe${evento?.uid}`} 

class={`${
  isPath ? "bg-paleta1-gray/80 text-white  " : "bg-white text-paleta1-gray/80 "
} relative group cursor-pointer items-center justify-center py-2 w-20  hover:bg-paleta1-gray/80   flex flex-col bg-clip-border rounded-xl  border hover:shadow-lg  text-gray-700 shadow-sm duration-200 l`}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class={`w-8 h-8 text-white group-hover:fill-white ${  isPath ? " fill-white  " : " fill-paleta1-gray/80 "}`}>
    <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z"></path>
    <path fill-rule="evenodd" d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z" clip-rule="evenodd"></path>
    <path d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z"></path>
  </svg>
      <p class="block  font-sans text-xs  m font-thin lowercase group-hover:text-white">Videos</p>

  </div>


  <script define:vars={{evento}}>
  const uidEvento=evento.uid
const cardVideos=document.getElementById(`videosEventosDe${evento.uid}`)

cardVideos.addEventListener('click',()=>{
  window.location.href=`http://localhost:4321/eventos/${uidEvento}/videos/`
})

  </script>
